*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;

}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;

}

body {
    font-family: 'Noto Sans JP', sans-serif;
}
.header{
    padding: 30px 0px 30px;
    background-color: #303030
}

.menu li{

    padding-top: 25px;
    background-color: #fff;
    display: inline-block;
    justify-content: space-between;
}
.menu a{

    color: #323232;
    font-size:16px;
    line-height: 36px;
    border: 1px solid transparent;
    padding: 0px 16px;
    transition: all .3s;

}
.menu a:hover{
    border-color:#0099cc;
}
.menu li + li{
    padding-left: 10px;
}
.load_img{
    padding-top: 120px;
    display: inline-block;
}
.search{
    background-color: #4696e5;
    color: #d0e4f8;
    padding: 4.5em 0 2.5em 0 ;
    align-items: center;
    display: flex;
    justify-content: center;
    background-image: url("../photos/others/overlay.png"), url("../photos/others/pattern-size1.svg");
    background-position: top left, center center;
    background-attachment: fixed, fixed;
    background-size: auto, cover;
    height: 20vh;
    min-height: 35em;
}
h2{
    padding-right: 20px;
}
img{
    border-block-color: cyan;
    border: 2px solid;
    padding: 2px;
    border-radius:5px;


}
