{% extends 'base.html' %}

{% block title %}
    О животных
{% endblock %}

{% block body %}
    <style>
        footer{
            margin-top: 100px;
        }
    </style>

    <div class="container_animal">
        <p>Еще несколько тысяч лет назад древний человек делал первые шаги по приручению диких животных, чтобы использовать их в своих целях. А сегодня уже сложно представить нашу жизнь без домашних питомцев, словно они всегда были верными спутниками людей. Изначально человек стремился получить что-то ценное от животных, обеспечивая их кровом и пищей. Однако, по данным антропологии, в древности они также служили источником эстетического удовольствия.</p>
    </div>
    <div class="sim-slider">
      <ul id="all_img" class="sim-slider-list">

      </ul>
      <div class="sim-slider-arrow-left"></div>
      <div class="sim-slider-arrow-right"></div>
      <div class="sim-slider-dots"></div>
    </div>
    <script>
        function generateHtmlForImg(data) {
            let photos_animals = "<li><img src='http://pvbk.spb.ru/inc/slider/imgs/no-image.gif' alt='screen'></li> <!-- это экран -->";
            let image = document.getElementById("all_img");
            for (let i = 0; i < data.length; i++) {
                photos_animals += "<li class='sim-slider-element'><img src='"+ data[i] + "' /> </li>";
            }
            image.innerHTML = photos_animals;
        }

        generateHtmlForImg({{ data|safe }});

        function Sim(sldrId) {

	let id = document.getElementById(sldrId);
	if(id) {
		this.sldrRoot = id
	}
	else {
		this.sldrRoot = document.querySelector('.sim-slider')
	};

	// Carousel objects
	this.sldrList = this.sldrRoot.querySelector('.sim-slider-list');
	this.sldrElements = this.sldrList.querySelectorAll('.sim-slider-element');
	this.sldrElemFirst = this.sldrList.querySelector('.sim-slider-element');
	this.leftArrow = this.sldrRoot.querySelector('div.sim-slider-arrow-left');
	this.rightArrow = this.sldrRoot.querySelector('div.sim-slider-arrow-right');
	this.indicatorDots = this.sldrRoot.querySelector('div.sim-slider-dots');

	// Initialization
	this.options = Sim.defaults;
	Sim.initialize(this)
};

Sim.defaults = {

	// Default options for the carousel
	loop: true,     // Бесконечное зацикливание слайдера
	auto: true,     // Автоматическое пролистывание
	interval: 5000, // Интервал между пролистыванием элементов (мс)
	arrows: true,   // Пролистывание стрелками
	dots: true      // Индикаторные точки
};

Sim.prototype.elemPrev = function(num) {
	num = num || 1;

	let prevElement = this.currentElement;
	this.currentElement -= num;
	if(this.currentElement < 0) this.currentElement = this.elemCount-1;

	if(!this.options.loop) {
		if(this.currentElement == 0) {
			this.leftArrow.style.display = 'none'
		};
		this.rightArrow.style.display = 'block'
	};

	this.sldrElements[this.currentElement].style.opacity = '1';
	this.sldrElements[prevElement].style.opacity = '0';

	if(this.options.dots) {
		this.dotOn(prevElement); this.dotOff(this.currentElement)
	}
};

Sim.prototype.elemNext = function(num) {
	num = num || 1;

	let prevElement = this.currentElement;
	this.currentElement += num;
	if(this.currentElement >= this.elemCount) this.currentElement = 0;

	if(!this.options.loop) {
		if(this.currentElement == this.elemCount-1) {
			this.rightArrow.style.display = 'none'
		};
		this.leftArrow.style.display = 'block'
	};

	this.sldrElements[this.currentElement].style.opacity = '1';
	this.sldrElements[prevElement].style.opacity = '0';

	if(this.options.dots) {
		this.dotOn(prevElement); this.dotOff(this.currentElement)
	}
};

Sim.prototype.dotOn = function(num) {
	this.indicatorDotsAll[num].style.cssText = 'background-color:#BBB; cursor:pointer;'
};

Sim.prototype.dotOff = function(num) {
	this.indicatorDotsAll[num].style.cssText = 'background-color:#556; cursor:default;'
};

Sim.initialize = function(that) {

	// Constants
	that.elemCount = that.sldrElements.length; // Количество элементов

	// Variables
	that.currentElement = 0;
	let bgTime = getTime();

	// Functions
	function getTime() {
		return new Date().getTime();
	};
	function setAutoScroll() {
		that.autoScroll = setInterval(function() {
			let fnTime = getTime();
			if(fnTime - bgTime + 10 > that.options.interval) {
				bgTime = fnTime; that.elemNext()
			}
		}, that.options.interval)
	};

	// Start initialization
	if(that.elemCount <= 1) {   // Отключить навигацию
		that.options.auto = false; that.options.arrows = false; that.options.dots = false;
		that.leftArrow.style.display = 'none'; that.rightArrow.style.display = 'none'
	};
	if(that.elemCount >= 1) {   // показать первый элемент
		that.sldrElemFirst.style.opacity = '1';
	};

	if(!that.options.loop) {
		that.leftArrow.style.display = 'none';  // отключить левую стрелку
		that.options.auto = false; // отключить автопркрутку
	}
	else if(that.options.auto) {   // инициализация автопрокруки
		setAutoScroll();
		// Остановка прокрутки при наведении мыши на элемент
		that.sldrList.addEventListener('mouseenter', function() {clearInterval(that.autoScroll)}, false);
		that.sldrList.addEventListener('mouseleave', setAutoScroll, false)
	};

	if(that.options.arrows) {  // инициализация стрелок
		that.leftArrow.addEventListener('click', function() {
			let fnTime = getTime();
			if(fnTime - bgTime > 1000) {
				bgTime = fnTime; that.elemPrev()
			}
		}, false);
		that.rightArrow.addEventListener('click', function() {
			let fnTime = getTime();
			if(fnTime - bgTime > 1000) {
				bgTime = fnTime; that.elemNext()
			}
		}, false)
	}
	else {
		that.leftArrow.style.display = 'none'; that.rightArrow.style.display = 'none'
	};

	if(that.options.dots) {  // инициализация индикаторных точек
		let sum = '', diffNum;
		for(let i=0; i<that.elemCount; i++) {
			sum += '<span class="sim-dot"></span>'
		};
		that.indicatorDots.innerHTML = sum;
		that.indicatorDotsAll = that.sldrRoot.querySelectorAll('span.sim-dot');
		// Назначаем точкам обработчик события 'click'
		for(let n=0; n<that.elemCount; n++) {
			that.indicatorDotsAll[n].addEventListener('click', function() {
				diffNum = Math.abs(n - that.currentElement);
				if(n < that.currentElement) {
					bgTime = getTime(); that.elemPrev(diffNum)
				}
				else if(n > that.currentElement) {
					bgTime = getTime(); that.elemNext(diffNum)
				}
				// Если n == that.currentElement ничего не делаем
			}, false)
		};
		that.dotOff(0);  // точка[0] выключена, остальные включены
		for(let i=1; i<that.elemCount; i++) {
			that.dotOn(i)
		}
	}
};

new Sim();
    </script>

    <script>new Sim()</script>

    <div class="home_animal">
        <div class="con1">
            <h3>Кто такие домашние животные</h3>
            <p>Домашними называются животные, которых приручил человек, ухаживая за ними и предоставляя им пропитание. Все одомашненные виды и выведенные на их основе искусственно породы использовались с целью получения материальной выгоды или удовольствия. Они становились хорошими компаньонами для человека, скрашивая его жизнь. Процесс размножения животных легко проходит даже вне природных условий. Контролируя его, люди создают породы с нужными свойствами.<p>
        </div>
        <div class="con2">
        <h3>Виды домашних животных</h3>
        <p>Домашние животные условно делятся на две группы.
        В первую входят сельскохозяйственные виды, используемые в быту и позволяющие получить натуральные продукты и материалы. Например, козы и коровы обеспечивают человека пищей: молоком и мясом, а также шерстью и кожей. А вот лошади, несмотря на появление различных механизмов, до сих пор используются как рабочая сила для перевозки грузов и средство передвижения.
Вторая группа объединяет всех животных, которых люди заводят в первую очередь для общения и проведения досуга. Кошки, рыбки, грызуны и собаки – это лишь часть питомцев, проживающих в домашних условиях. Как и сельскохозяйственные виды, они тоже могут использоваться для извлечения материальной выгоды. Например, высоко ценятся на рынке многие породы кошек и собак, поэтому некоторые хозяева занимаются их разведением и продажей потомства. Но чаще всего такие домашние животные, в первую очередь, становятся полноценными членами семьи и другом человека. Они помогают справиться с плохим настроением, бороться с одиночеством и стрессом.
Наиболее преданным другом человека, проживающим дома, стала собака. Существует мнение, что в отличие от кошек она сильнее привязана к человеку. Широко известны случаи, когда после смерти хозяина собаки не находили себе места, тоскуя, и даже погибали, не вынося разлуки. Аналогично многие люди тяжело переживают потерю домашнего питомца, успевшего стать полноправным членом семьи. В среднем собаки живут около 10 лет, поэтому нужно быть готовым к тому, что животное не сможет всегда оставаться рядом.

Принимая решение завести собаку, следует также знать, что она нуждается в постоянной заботе. Регулярные прогулки и кормление – лишь малая часть ухода. Важно сразу определиться с породой, ведь каждая имеет свои особенности. От них зависит характер животного и то, какой потребуется уход.

Собак декоративных пород заводят исключительно как домашних любимцев: ради удовольствия и общения. Они не выполняют никакой работы в жизни человека. К ним относятся, например, болонки, йоркширские терьеры, карликовые пинчеры, померанские шпицы. Некоторые из них были выведены от крупных собак в результате размножения с уменьшением размера. При правильном воспитании представители декоративных пород неагрессивны, приятны в общении, легко идут на контакт с людьми и другими животными. Кроме того, они хорошо поддаются дрессировке.
Еще одну большую группу пород образуют собаки, которые первоначально использовались как охотничьи и сторожевые: овчарки, спаниели, легавые, пудели, борзые, таксы, бультерьеры. Постепенно многие из них стали играть исключительно роль домашних питомцев, как и декоративные виды.</p>
    </div>
    </div>

{% endblock %}


