{% extends 'base.html' %}

{% block title %}
    Оценить животное
{% endblock %}




{% block body %}
    <style>
        footer{
            margin-top: 600px;
        }
    </style>
    <div class="cont">
        <form method="post">
            <div id="photos_animals" class="photos_animals"></div>
            <a><input type="submit" class='left-btn' name="like" value="like"/></a>
            <a><input type="submit" class='right-btn' name="unlike" value="unlike"/></a>
        </form>
    </div>
    <script type="text/javascript">
        let photos_animals = [];

        function generateHtmlForImg(data) {
            let image = document.getElementById("photos_animals");
            for (let i = 0; i < data.length; i++) {
                name = data[i].split('/')[3];
                name = name.split('.')[0]
                photos_animals.push("<img src='"+ data[i] + "' /> " +
                "<input type='hidden' name='img_animal' value='" + name + "' />");
            }
            let number = Math.floor(Math.random() * photos_animals.length);
            image.innerHTML = photos_animals[number];
            setInterval(randImgInPage, 5000);
        }

        function randImgInPage(){
            let image = document.getElementById("photos_animals");
            let number = Math.floor(Math.random() * photos_animals.length);
            image.innerHTML = photos_animals[number];
        }
        generateHtmlForImg({{ data|safe }});
    </script>
{% endblock %}